@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body{
    min-width: 340px;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(11, 0, 0);

}


.wrapper{
    perspective: 1200px;     

}

h1{
    color: rgb(226, 238, 238);
    position: relative;
    font-size: 50px;
   
}


.box{
    display: flex;
    flex-direction: column;
    transition: transform 1s;      
    transform-style: preserve-3d;    
    position: relative;    
   justify-content: center;
   align-items: center;
   align-items: center;
   margin: 30px auto;
   transition: 0.5s ;
}


.box.flip{
    transform: rotateY(180deg);   
}

.front, .back{
    backface-visibility: hidden;   
    justify-content: center;
    align-items: center;
    text-align: center;
background: linear-gradient(135deg, #1f1c2c, #928dab);
width: 29rem;
height: 37rem;
margin: 30px auto;
padding: 20px ;
border-radius: 30px;


}
.front{
    padding-top: 7rem;
}

.back{
    position: absolute;    
    transform: rotateY(180deg);      

}


form{
    transition: 0.5s;
}

form:hover{
       border: 3px solid aqua;
            box-shadow: 0 0 20px aqua, inset 0 0 20px aqua;
}

form:hover h1{
    color: aqua;
    filter: drop-shadow(0 0 5px);
}


.inputBox{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 4px;
    padding: 7px;
    border: none;
}

.inputBox input {
    
    width: 100%;
    padding: 10px ;
    background-color: transparent;
    border-radius: 20px;
    border-left: none;
    border-top: none;
    font-size: 20px;
    transition: 1s;
    position: relative;
}

form:hover .inputBox input{
    border: 2px solid aqua;
     box-shadow: 0 0 20px aqua, inset 0 0 10px aqua;
}



input::placeholder{
    color: black;
    font-size: 20px;
    display: flex;
    background: transparent;
}

.icon{
    margin: 10px;
    padding: 0.1rem;
}
#eyeicon1{
    position: absolute;
    right: 10px;
}

.inputBox i{
    color: rgb(211, 234, 234);
}

form:hover .inputBox i{
    color: aqua;
}

.inputBox img{
    display: flex;
    
    width: 25px;
    position: absolute;
    right: 0;
}



form:hover .forgot-pass a{
    text-decoration: underline;
    color: aqua;
    filter:drop-shadow(0 0 10px aqua);
}



.forgot-pass a{
    text-decoration: none;
    color: rgb(212, 233, 233);
}

button{
    background:rgb(204, 224, 224) ;
    padding: 9px;
    margin: 10px;
    border-radius: 40px;
    transition: 0.5s ease;
    font-weight: bold;
    font-size: 17px;
    color: black;
    border-top: none;
    border-right: none;

}
form:hover button{
    background-color: aqua;
}

button:hover{
           transform: scaleX(1.3);
           background:linear-gradient(to right, rgb(87, 228, 228),rgb(49, 214, 214),aqua);
           font-size: 15px;
           font-weight: bolder;
           color: white;
           border: none;
}





.google i{
        background: rgb(255, 255, 255);
    color: red;
    margin-right: 20px;      
    font-size: 40px;
    border-radius: 50%;
     transition: 0.5s ;
} 
.google i:hover{
  transform: scaleY(1.2);
    transform: scaleX(1.2);
}

.facebook i{
        background: rgb(255, 255, 255);
    color: rgb(7, 2, 255);
    font-size: 40px;
    border-radius: 50%;
    margin: 1px auto;
    transition: 0.5s ;
}

.facebook i:hover{
    transform: scaleY(1.2);
    transform: scaleX(1.2);
}

p1{
    color: rgb(236, 218, 218);
}
   
.register-link a{
    color: white;
    text-decoration: none;
}

form:hover .register-link a{
    color: aqua;
    filter: drop-shadow(0 0 5px aqua);
}

h5{
    /* padding: 4px; */
    text-align: center;
    width: 100px;
    margin: 1px auto;
    
    
}











